[submodule "Plugins/store-ue4-sdk"]
	path = Plugins/store-ue4-sdk
	url = git@github.com:xsolla/store-ue4-sdk.git
[submodule "Plugins/xsolla-accelbyte-services-unreal-sdk"]
	path = Plugins/xsolla-accelbyte-services-unreal-sdk
	url = git@github.com:xsolla/xsolla-accelbyte-services-unreal-sdk.git
